/*--------------------------------------------------
FONTS
--------------------------------------------------*/
/* fonts */
@font-face{
	font-family: 'LM Sans Regular';
	src: url('fonts/Sans/cmunss.eot');
	src: url('fonts/Sans/cmunss.eot?#iefix') format('embedded-opentype'),
		 url('fonts/Sans/cmunss.woff') format('woff'),
		 url('fonts/Sans/cmunss.ttf') format('truetype'),
		 url('fonts/Sans/cmunss.svg#webfont') format('svg');
}
@font-face{
	font-family: 'LM Sans Bold';
	src: url('fonts/Sans/cmunsx.eot');
	src: url('fonts/Sans/cmunsx.eot?#iefix') format('embedded-opentype'),
		 url('fonts/Sans/cmunsx.woff') format('woff'),
		 url('fonts/Sans/cmunsx.ttf') format('truetype'),
		 url('fonts/Sans/cmunsx.svg#webfont') format('svg');
}
/*--------------------------------------------------
HEADER
--------------------------------------------------*/
.header {
	margin: 0;
	margin-top: 50px;
	background: #007c41;
	width: 100%;
}
.header .headline {
	font-family: LM Sans Regular, Open Sans, sans-serif;
	font-size: 2.5em;
	color: white;
	display: block;
	margin-left: 15%;
	padding-top: 20px;
}
.header .subheadline {
	color: white;
	display: block;
	margin-left: 15%;
	padding-top: 0px;
}
/*--------------------------------------------------
BODY
--------------------------------------------------*/
body {
    margin: 60px auto;
    width: 75%;
    font-family: LM Sans Regular, Open Sans, sans-serif;
    background-color: #ffffff;
    background: bottom center fixed;
    padding-bottom: 2em;
}
/*--------------------------------------------------
NAV
--------------------------------------------------*/
.topnav {
	list-style: none;
	margin: 0;
	padding: 0;
	background: #007c41;
	padding-top: 1em;
	padding-left: 5%;
	padding-right: 5%;
	padding-bottom: 25px;
}
.topnav li {
	margin: 0;
	padding: 0;
	display: inline-block;
	border-right: 5px solid #bbb;
	border-left: 5px solid #bbb;
	margin-right: 1.5em;
	line-height: 40px;
}
.topnav li:first-child {
	border-left: none;
}

.topnav li:last-child {
	border-right: none;
}
.topnav a, .topnav a:link, .topnav a:visited {
	text-decoration: none;
	color: #dddddd;
}
.topnav a.current {
	font-weight: bold;
	text-decoration: underline;
	color: white;
}
.topnav a:hover {
	color: white;
}
/*--------------------------------------------------
ITEMS
--------------------------------------------------*/
a {
    text-decoration: none;
    color: #007c41;
}
a:hover {
    text-decoration: underline;
}
h1 {
    font-size: 3em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}
p {
    font-size: 1em;
    line-height: 1.2em;
    color: #333;
}
footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
}
/*--------------------------------------------------
style for CV page
--------------------------------------------------*/
.cv_table {
	width: 100%;
	border-collapse: collapse;
	margin-bottom: 1em;
	line-height: 1em;
}
.cv_table_td_left {
	width: 18em;
	text-align: right;
	vertical-align: top;
	border-right: 1px solid #007c41; /*navy; */
	padding-right: 0.5em;
	height: 120px;
}
.cv_table_td_right {
	vertical-align: top;
	padding-left: 0.5em;
	padding-bottom: 2em;
}
.cv_table_td_right img {
	float: right;
	padding: 0;
	margin: 0;
	margin-left: 1em;
	margin-bottom: 1em;
}
.cv_highlight {
	display: block;
	margin-bottom: 1em;
}
.cv_detail_highlight {
	font-weight: bold;
	color: #444;
}
.cv_detail_regular {
	padding-left: 0.2em;
}
.cv_thesis_table {
	text-align: left;
	border-collapse: collapse;
	border: 0;
	margin: 0;
	padding: 0;
	color: #333;
	margin-left: 1em;
	font-size: 1em;
}
.cv_thesis_table td {
	cell-spacing: 0;
	border: 0;
	padding: 0;
	vertical-align: top;
	padding-right: 0.5em;
	max-width: 33em;
}
