/*--------------------------------------------------
Notes:
1. Order of class declaration matters in CSS.
	 What is declared later takes precedence over prior declaration in case of
	 overlap.
2. ID declarations override class declarations.
3. Inline styles ovverride class declarations.
--------------------------------------------------*/
/*--------------------------------------------------
FONTS
--------------------------------------------------*/
/* fonts */
@font-face{
	font-family: 'LM Sans Regular';
	src: url('fonts/Sans/cmunss.eot');
	src: url('fonts/Sans/cmunss.eot?#iefix') format('embedded-opentype'),
		 url('fonts/Sans/cmunss.woff') format('woff'),
		 url('fonts/Sans/cmunss.ttf') format('truetype'),
		 url('fonts/Sans/cmunss.svg#webfont') format('svg');
}
@font-face{
	font-family: 'LM Sans Bold';
	src: url('fonts/Sans/cmunsx.eot');
	src: url('fonts/Sans/cmunsx.eot?#iefix') format('embedded-opentype'),
		 url('fonts/Sans/cmunsx.woff') format('woff'),
		 url('fonts/Sans/cmunsx.ttf') format('truetype'),
		 url('fonts/Sans/cmunsx.svg#webfont') format('svg');
}
/*--------------------------------------------------
HEADER
--------------------------------------------------*/
.header {
	margin: 0;
	margin-top: 50px;
	background: #007c41;
	width: 100%;
}
.header .headline {
	font-family: LM Sans Regular, Open Sans, sans-serif;
	font-size: 2.5em;
	color: white;
	display: block;
	margin-left: 15%;
	padding-top: 20px;
}
.header .subheadline {
	color: white;
	display: block;
	margin-left: 15%;
	padding-top: 0px;
}
/*--------------------------------------------------
BODY
--------------------------------------------------*/
body {
    margin:5% 5% 1% 5%;
    font-family: LM Sans Regular, Open Sans, sans-serif;
		background-image: url(/data/mathwall.jpg);
    background-color: #ffffff;
    padding-bottom: 2em;
		position: relative;
}
.hidden{
    display:none;
}
.unhidden{
    display:block;
}
/*--------------------------------------------------
TopNAV
--------------------------------------------------*/
.topnav {
	list-style: none;
	background: #333;
	padding: 10px 30px 10px 30px;
	position: fixed;
	top: 0;
	width: 1075px;
}
.topnav li {
	margin: 0 0 0 0;
	padding: 0;
	display: inline-block;
	line-height: 40px;
}

.topnav a, .topnav a:link, .topnav a:visited {
	text-decoration: none;
	color: #dddddd;
	padding: 20px 16px;
}
.topnav a.current {
	font-weight: bold;
	text-decoration: underline;
	color: white;
	background-color: #4C767D;
}
.topnav a:hover {
	color: white;
	background-color: #111;
}
/*--------------------------------------------------
SideNAV
--------------------------------------------------*/
ul.sidenav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 15%;
    background-color: #f1f1f1;
    position: fixed;
    height: auto;
}

ul.sidenav li a {
    display: block;
    color: #000;
    padding: 16px 16px;
    text-decoration: none;
}

ul.sidenav li a.active {
    background-color: #4CAF50;
    color: white;
}

ul.sidenav li a:hover:not(.active) {
    background-color: #555;
    color: white;
}

div.content {
    margin-left: 25%;
    padding: 1px 16px;
    height: 1000px;
}
/* Toggle nav bar horizontal and vertical */
@media screen and (max-width: 1050px){
    ul.sidenav {
        width:100%;
        height:auto;
        position:relative;
    }
    ul.sidenav li a {
        float: left;
        padding: 15px;
    }
    div.content {margin-left:0;}
}

@media screen and (max-width: 400px){
    ul.sidenav li a {
        text-align: center;
        float: none;
    }
}
/*--------------------------------------------------
ITEMS
--------------------------------------------------*/
a {
    text-decoration: none;
    color: #15419e;
}
a:hover {
    text-decoration: underline;
}
h1 {
    font-size: 3em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}
p {
    font-size: 1em;
    line-height: 1.2em;
    color: #000000;
}
footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
}
.image-border {
	border-radius: 50%;
	border-color: black;
	border-width: thin;
	border-style: ridge;
}
/*--------------------------------------------------
style for creating timeline-like table
--------------------------------------------------*/
.time_table {
	width: 100%;
	border-collapse: collapse;
	margin-bottom: 1em;
	line-height: 1em;
}
.time_table_td_left {
	width: 18em;
	text-align: right;
	vertical-align: top;
	border-right: 1px solid #007c41; /*navy; */
	padding-right: 0.5em;
	padding-bottom: 2em;
	height: 120px;
}
.time_table_td_right {
	vertical-align: top;
	padding-left: 0.5em;
	padding-bottom: 2em;
}
.time_table_td_right img {
	float: right;
	padding: 0;
	margin: 0;
	vertical-align: text-bottom;
	align: bottom;
	margin-left: 1em;
	margin-bottom: 1em;
}
.time_highlight {
	display: block;
	margin-bottom: 1em;
}
.time_detail_highlight {
	font-weight: bold;
	color: #000000;
}
.time_detail_regular {
	padding-left: 0.2em;
}
.time_thesis_table {
	text-align: left;
	border-collapse: collapse;
	border: 0;
	margin: 0;
	padding: 0;
	color: #000000;
	margin-left: 1em;
	font-size: 1em;
}
.time_thesis_table td {
	cell-spacing: 0;
	border: 0;
	padding: 0;
	vertical-align: top;
	padding-right: 0.5em;
	max-width: 33em;
}
/*--------------------------------------------------
smart social contact buttons
--------------------------------------------------*/
.social {
  text-align: center;
  font-size: 2.5em;
  color: #555;
  overflow: hidden;

  a {
    color: inherit;
    text-decoration: none;
  }

  i {
    margin: .3em;
    cursor: pointer;
    transition: color 300ms ease, margin-top 300ms ease;
    transform: translateZ(0);

    &:hover {
      margin-top: -1px;
    }

    &#github:hover {
      color: black;
    }

    &#linkedin:hover {
      color: #0177B5;
    }

    &#mail:hover {
      color: #F7B401;
    }

		&#codepen:hover {
			color: black;
		}
  }
}
/*--------------------------------------------------
smart social contact buttons
--------------------------------------------------*/
/* Wrapper */
.icon-button {
	background-color: white;
	border-radius: 3.6rem;
	cursor: pointer;
	display: inline-block;
	font-size: 2.0rem;
	height: 3.6rem;
	line-height: 3.6rem;
	margin: 0 5px;
	position: relative;
	text-align: center;
	-webkit-user-select: none;
	   -moz-user-select: none;
	    -ms-user-select: none;
	        user-select: none;
	width: 3.6rem;
}

/* Circle */
.icon-button span {
	border-radius: 0;
	display: block;
	height: 0;
	left: 50%;
	margin: 0;
	position: absolute;
	top: 50%;
	-webkit-transition: all 0.3s;
	   -moz-transition: all 0.3s;
	     -o-transition: all 0.3s;
	        transition: all 0.3s;
	width: 0;
}
.icon-button:hover span {
	width: 3.6rem;
	height: 3.6rem;
	border-radius: 3.6rem;
	margin: -1.8rem;
}
.github span {
	background-color: black;
}
.codepen span {
	background-color: black;
}
.univ span {
	background-color: black;
}
.mail span {
	background-color: #db5a3c;
}
.linkedin span {
  background-color: #0077b5;
}

/* Icons */
.icon-button i {
	background: none;
	color: white;
	height: 3.6rem;
	left: 0;
	line-height: 3.6rem;
	position: absolute;
	top: 0;
	-webkit-transition: all 0.3s;
	   -moz-transition: all 0.3s;
	     -o-transition: all 0.3s;
	        transition: all 0.3s;
	width: 3.6rem;
	z-index: 10;
}
.icon-button .icon-github {
	color: black;
}
.icon-button .icon-codepen {
	color: black;
}
.icon-button .icon-univ {
	color: black;
}
.icon-button .icon-mail {
	color: #db5a3c;
}
.icon-button .icon-linkedin {
  color: #0077b5;
}
.icon-button:hover .icon-github,
.icon-button:hover .icon-codepen,
.icon-button:hover .icon-univ,
.icon-button:hover .icon-linkedin,
.icon-button:hover .icon-mail {
	color: white;
}
