@font-face{
	font-family: 'LM Sans Regular';
	src: url('fonts/Sans/cmunss.eot');
	src: url('fonts/Sans/cmunss.eot?#iefix') format('embedded-opentype'),
		 url('fonts/Sans/cmunss.woff') format('woff'),
		 url('fonts/Sans/cmunss.ttf') format('truetype'),
		 url('fonts/Sans/cmunss.svg#webfont') format('svg');
}
@font-face{
	font-family: 'LM Sans Bold';
	src: url('fonts/Sans/cmunsx.eot');
	src: url('fonts/Sans/cmunsx.eot?#iefix') format('embedded-opentype'),
		 url('fonts/Sans/cmunsx.woff') format('woff'),
		 url('fonts/Sans/cmunsx.ttf') format('truetype'),
		 url('fonts/Sans/cmunsx.svg#webfont') format('svg');
}

.header {
	margin: 0;
	margin-top: 50px;
	background: #007c41;
	width: 100%;
}
.header .headline {
	font-family: LM Sans Regular, Open Sans, sans-serif;
	font-size: 2.5em;
	color: white;
	display: block;
	margin-left: 15%;
	padding-top: 20px;
}
.header .subheadline {
	color: white;
	display: block;
	margin-left: 15%;
	padding-top: 0px;
}

body {
    margin: 60px auto;
    width: 70%;
    font-family: LM Sans Regular, Open Sans, sans-serif;
    background-color: #ffffff;
    background: bottom center fixed;
    padding-bottom: 2em;
}

.topnav {
	list-style: none;
	margin: 0;
	padding: 0;
	background: #007c41;
	padding-top: 1em;
	padding-left: 15%;
	padding-right: 15%;
	padding-bottom: 30px;
}
.topnav li {
	margin: 0;
	padding: 0;
	display: inline-block;
	margin-right: 1.5em;
	line-height: 40px;
}
.topnav a, .topnav a:link, .topnav a:visited {
	text-decoration: none;
	color: #dddddd;
}
.topnav a.current {
	font-weight: bold;
	color: white;
}
.topnav a:hover {
	color: white;
}

a {
    text-decoration: none;
    color: #333;
}
a:hover {
    text-decoration: underline;
}
h1 {
    font-size: 3em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}
p {
    font-size: 1.5em;
    line-height: 1.4em;
    color: #333;
}
footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
}

ul.posts {
    margin: 20px auto 40px;
    font-size: 2.0em;
}

ul.posts li {
    list-style: none;
}

.cv_table {
	width: 100%;
	border-collapse: collapse;
	margin-bottom: 1em;
	line-height: 1.4em;
}
.cv_table_td_left {
	width: 7em;
	text-align: right;
	vertical-align: top;
	border-right: 1px solid #007c41; /*navy; */
	padding-right: 0.5em;
	height: 120px;
}
.cv_table_td_right {
	vertical-align: top;
	padding-left: 0.5em;
	padding-bottom: 5em;
}
.cv_table_td_right img {
float: right;
padding: 0;
margin: 0;
margin-left: 1em;
margin-bottom: 1em;
}
.cv_table_td_image {
	width: 225px;
	text-align: right;
	vertical-align: top;
}
.cv_table_td_image img {
	border: 0; float: right;
}
.cv_highlight {
	display: block;
	margin-bottom: 1em;
}
.cv_detail_highlight {
	font-weight: bold;
	color: #444;
}
.cv_detail_regular {
	padding-left: 1em;
}
